# template top-level directory

# the location where we store template - files we use in our application,
# with values in double-curly-braces substituted at runtime
TEMPLATE_DIRECTORY=src/main/webapp/templates/

# the connection URL to our database
DATABASE_CONNECTION_STRING=jdbc:h2:file:./target/coupons;AUTO_SERVER=TRUE

# the username to our database
DATABASE_USERNAME=sa

# the password to our database
DATABASE_PASSWORD=password
